<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NightlightCMS Dashboard</title>
    <link rel="stylesheet" href="/css/pico.min-dist.css">
    <style>
        @media (max-width: 500px) {
            form {
                width: 100%;
                margin: auto;
            }
        }

        .grid {
            margin: auto;
            max-width: 400px;
        }

        .grid button {
            width: 100%;
        }

        body>header {
            padding: 20px;
        }

        header img {
            max-height: 60px;
        }
    </style>
</head>

<body>
    <header><a href="/"><img src="/logo/nightlightlogo.svg" alt="NightlightCMS"></a></header>
    <div class="grid">
        <a href="newpost"><button>+ New Post</button></a>
    </div>
</body>

</html>